<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NarrativePlay.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>50A8B1FD1BD5191900B81397</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50A8B20E1BD5191A00B81397</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50A8B2191BD5191A00B81397</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
